<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundsachen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Fundsachen</h1>

    {% if Fundsachen %}
        <ul>
            {% for item in Fundsachen %}
                <li>{{ item['id'] }} – {{ item['name'] }} - {{ item['description'] }} - {{ item['found_date'] }} - {{ item['location'] }} - {{ item['status'] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Keine Einträge vorhanden.</p>
    {% endif %}

    <p>
        <a class="button" href="{{ url_for('add') }}">Neue Fundsache hinzufügen</a>
    </p>
</body>
</html>
